*{
    background-color: white;
    font-family: "PT Sans", sans-serif;
}
.content{
    margin-top:20px;
}
.container p{
    color: grey;
}
#brand:hover{
    color: black;
}
#titleHead{
    font-weight: bold;
}
#titleHead span{
    color: rgb(103, 103, 103);
}